.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.table {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .table h2 {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid #ddd; /* Add bottom border to separate rows */
  border-right: 1px solid #ddd; /* Add right border to separate columns */
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }


  /* Style each day differently */
.monday {
    background-color: #ffe6e6; /* Light red */
  }
  
  .tuesday {
    /* background-color: #e6f7ff; Light blue */
  }
  
  .wednesday {
    background-color: #ffffe6; /* Light yellow */
  }
  
  .thursday {
    background-color: #e6ffe6; /* Light green */
  }
  
  .friday {
    background-color: #f2f2f2; /* Light grey */
  }
  
  .saturday {
    background-color: #f0f0ff; /* Light purple */
  }
  
  .sunday {
    background-color: #ffe6ff; /* Light pink */
  }